
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


:root {
    --main-bk-color: #4a4a55;
    --secondary-bk-color: #bececf;
    --main-font-color: white;
    --secondary-font-color: rgba(255, 255, 0, 0.734);
    --title-font-family: 'Ubuntu';
    --main-font-family: 'Roboto Mono';
}


body{
    font-family: 'Playfair Display', serif;
}

header, main, footer {
    margin: 0 auto;
    margin-top: 1em;
}

header, footer {
    background-color: var(--main-bk-color);
    color: var(--main-font-color);
    
}

header, footer {
    padding: 0.5em 0;
}

header, footer {
    width: 60%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: var(--secondary-bk-color);
    padding: 1em;
    width: 50%;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4 {
    font-family: var(--title-font-family), sans-serif;
    text-align: center;
    margin: 0;
}

footer h4 {
    color: var(--secondary-font-color);
}


