

form {
    padding: 1rem 0;
    max-width: 450px;
}
fieldset {
    border: solid 2px var(--default-dark);
    border-radius: 5px;
    margin-bottom: 1.25rem;
}
fieldset legend {
    padding: 0.25rem;
}
form label {
    font-size: 0.8em;
}
form div label {
    font-size: 1rem;
}
form label, form div {
    margin-top: 1rem;
    padding-bottom: 0.3rem;
}
form label span {
    color: red;
}
div label {
    margin-top: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
div input + label {
    padding-top: 0;
}
form input:not([type="range"]), form select, form textarea {
    outline: none;
    box-shadow: 0 0 0 7px transparent;
    transition: box-shadow 0.3s;
}
form input:not([type="range"]):not([type="radio"]):focus, form select:focus, form textarea:focus {
    box-shadow: 0 0 0 4px var(--main-color);
}
form label, form input, form select, form textarea {
    display: block;
    width: 100%;
}
form input {
    margin-top: 5px;
    width: calc(100% - 0.75rem * 2);
    padding: 0.75rem;
}
form input[type="range"] {
    width: 100%;
    padding: 0;
}
form select {
    margin-top: 5px;
    padding: 0.75rem;
}
form input, form select, form textarea {
    background-color: #eeeeee;
    border: solid 1px var(--default-dark);
    border-radius: 4px;
}
form input[type="submit"] {
    background-color: var(--main-color);
    color: var(--default-light);
    text-shadow: 1px 1px 1px var(--default-dark);
    width: 100%;
    margin-top: 10px;
}
form input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--default-dark);
}
form textarea {
    width: calc(100% - 5px);
    height: 4em;
    margin-top: 5px;
}
form input:required:not(:valid) {
    box-shadow: inset 0 0 0 2px rgb(240, 143, 33), 0 0 0 7px transparent;
    transition: box-shadow 0.3s;
}
form input:required:valid {
    box-shadow: inset 0 0 0 2px var(--main-color), 0 0 0 7px transparent;
    transition: box-shadow 0.3s;
}
form input:required:not(:valid):focus {
    box-shadow: inset 0 0 0 2px rgb(120, 236, 42), 0 0 0 4px var(--main-color);
    transition: box-shadow 0.3s;
}
form input:required:valid:focus {
    box-shadow: inset 0 0 0 2px var(--main-color), 0 0 0 4px var(--main-color);
    transition: box-shadow 0.3s;
}
form div.split {
    display: grid;
    grid-template-columns: auto 30px;
    justify-items: center;
    align-items: center;
}
form div.split span {
    grid-column: 1 / -1;
    justify-self: start;
}
form div.split label {
    text-align: center;
    margin-top: 0;
    padding: 6px;
    width: 15px;
}
form div.split input {
    margin-top: 0;
}


/* Styles for the footer and it's child elements */
footer {
    text-shadow: 1px 1px 1px var(--default-dark);
    box-shadow: 0 0 10px var(--default-dark);
    background-color: var(--main-color);
    font-family: var(--paragraph-font);
    color: var(--default-light);
    text-align: center;
    position: relative;
    padding: 1rem;
    z-index: 10;
}

.last-updated {
    padding-top: 0.5rem;
    display: block;
    font-size: 0.9rem;
    color: var(--secondary-color);
}

#too-small {
    display: none;
}


@keyframes come-in {
    from {
        opacity: 0;
        filter: blur(2px);
    }
    50% {
        opacity: 0;
        filter: blur(2px);
    }
    to {
        opacity: 1;
    }
}
@keyframes img-come-in {
    from {
        opacity: 0;
        transform: scale(0.5) rotate(45deg);
    }
    to {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}

@media screen and (max-width: 1280px) {
    main.gallery {
        grid-template-columns: 1fr 1fr;
    }
    main.gallery picture:last-child {
        grid-column: span 2;
    }
}