html {
    background-color: #FAC042;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 100vh;
}

.m {
    letter-spacing: 1pt;
    color: forestgreen;
    font-weight: 700;
    font-size: 0.8rem;
}

.social {
    margin-right: 1.5rem;
}

.social svg {
    width: 25px;
    height: auto;
}

.responsive li {
	display: block;
}


.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #111314;
	text-align: center;
}

.menu button {
	padding: 1rem;
}

article,
section {
	margin: 0.75rem;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #07743d;
    display: inline-block;
    /* vertical-align: top; */
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}

.grid section {
	/* flex-direction: column; */
	text-align: center;
}

.grid section > * {
	margin: 0.1rem;
}

.list section {
	flex-direction: row;
	justify-content: left;
}

.list section > * {
	margin: 0 1rem;
	text-align: left;
}

.list section img {
	display: none; /* smaller viewports only */
}

h2 {
    color: white;

}

p {
    color: white;

}

section h3 {
	font-size: 1.5rem;
    color: white;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.9rem;
    color: white;
}

img {
	height: 75px;
	max-width: 100%; /* Images are jerks - Seattle*/
}

@media (min-width: 700px) {
	.list section img {
		display: block;
	}
}

@media only screen and (min-width: 48em) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block; /* change state in small view */
       flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }
}