@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Playfair+Display&display=swap');


h1 {
  font-family: 'Playfair Display', serif;
  line-height: 1.1em;
  padding: 10px;
  text-align: center;
  color: #eeeaea;
}
h2, h3 {
  color: #000;
}

h1{
    font-size: 2em;
    grid-column: 2/3;
    grid-row: 1/3;
}

li{
    font-family: 'Lato', Helvetica, sans-serif;
}

p {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.25em;
  padding: 10px;
  color: #088f3c;
  margin: 0;
  text-align: center;
}

body{
    max-width: 600px;
    margin: 0 auto;
    background-color: #087a08;
}

header{
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 6fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
}

nav{
    display: flex;
	grid-row: 1/2;
    grid-column: 3/5;
    background-color: black;
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
    margin: auto;
    height: 100%;
    width: 100%;
}

.navigation a {
	display: block;
    padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: #b4975a;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
    width: 100%;
}

.navigation a.ham::before {
	content: "menu";
}

.navigation a:hover {
	color: rgb(236, 229, 229);
	background-color: #17b473;
}

.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "âŒ ";
}

.wider {
    grid-column: 1/-1;
    grid-row: 1/3;
    z-index: 100;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5px;    
    margin: auto;
    flex: 1; 
    text-align: center;
}

li{
    list-style: none;
}

a{
    color: #837569;
    font-size: 1.5em;
}

li > a {
    color: #e6e8e6;
    font-size: 1em;
}

main{
    background-color: #f4f8f4;
    text-align: center;
}

img {
    max-width: 100%;
    margin: 0 auto 0 auto;
}
.headerlogo {
    grid-column: 1/2;
    grid-row: 1/3;
    max-width: 100%;
    align-items: center;
    margin: auto 0;
}

#logo-ig {
    grid-column: 3/4;
    grid-row: 2/3;
    margin: auto 0;
}

#logo-fb {
    grid-column: 4/5;
    grid-row: 2/3;
    margin: auto 0;
}

footer{
    background-color: black;
    padding: 5px 0;
    text-align: center;
}

header > p {
    color: #414e3a;
}

.date {
    grid-column: 1/6;
    grid-row: 3/4;
    background-color: #629984;

}

#today {
    padding: 5px;    
    margin: 10px;
    text-align: center;
    color: #e6e8e6;

}

#gift {
    max-height: 1.1em;
}

.box {
    padding: 20px;
    margin: none;
    border-style: double;
    border-radius: 3px;
    border-color: #d39ad0;
}

#hero {
    position: relative;
}

.up {
    position: absolute;
    background-color: #00471b;
    left: 40px;
    top: 50px;
}

.event {
    display: inline;
}

.weather-card {
    padding: 20px;
    margin: 20px 20px;
    background: #00471b;
    color: var(--Titles);
    border-style: double;
    border-radius: 3px;
    border-color: #b4975a;
    text-align: center;
}

.weather-c {
    font-size: 2.5rem;
    text-transform: capitalize;
}

.weather-card p{
    color: var(--Titles);
}

.temperature {
    display: flex;
    align-content: center;
    justify-content: center;
}

.sun {
    max-width: 20%;
    margin: 0px 0px;
}

#join-us { 
    display: none;
}

.spo-box {
    padding: 40px;
    margin: 10px auto;
    border-style: double;
    border-radius: 3px;
    border-color: #d199c8;
    
}

#spo-large {
    display: none;
}

#last_update{
    
    color: #f3f2ee;
}

span > p {
    color: #f5f4f3;
}

.f {
    color: #f4f4fc;
    padding: 0px;
}

.footer-c {
    padding: 10px 10px;
    margin-top: 20px;
    border-top: #b4975a;
    border-style: double;
}

.alert {
    grid-row: 4/5;
    grid-column: 1/5;
    background-color: #00471b;
    color: #e6e8e6;
}